<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fahrer</title>
    <link rel="import" href="Share_Nav_Footer.html">
</head>
<body>
<div class="container margin-top-index">
    <div style="background-color: black">
        <div style="background-color: white">
            <div class="text-center">
                <h1> <strong> FAHRER </strong></h1>
                <h3 style="font-family: 'Gill Sans Ultra Bold'" class="text-uppercase"> Lieferliste </h3>
                <hr>
            </div>
            <form>
                <div class="row">
                    <div class="text-center">
                        <span> Bestellung Number </span>
                        <div>
                            <span> Kunden Address : </span>
                        </div>
                    </div>
                    <div class="text-center">
                        <select>
                            <option value="unterweg" selected> Unterweg </option>
                            <option value="geliegiert"> Geliefiert </option>
                        </select>
                    </div>

                </div>
            </form>
            <div class="text-center">
                <p> Es gibt zur Zeit keine Bestellungen.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    var link = document.querySelector('link[rel="import"]');
    var content = link.import;
    // Grab DOM from warning.html's document.
    var el = content.querySelector('#nav-share-file');
    document.body.appendChild(el.cloneNode(true));
</script>